body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f7fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('Images/WhatsAppDoodle.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h2 {
    text-align: center;
    color: #075E54;
    font-weight: bold;
    margin-bottom: 20px;
}

input,
button {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    font-size: 16px;
    box-sizing: border-box;
}

input:focus {
    border-color: #075E54;
    outline: none;
    box-shadow: 0 0 8px rgba(7, 94, 84, 0.1);
}

button {
    background-color: #25D366;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5b22b6;
}

#reset {
    background-color: #f44336;
}

#reset:hover {
    background-color: #5b22b6;
}

#reload {
    background-color: #ffa500;
}

#reload:hover {
    background-color: #5b22b6;
}

#add {
    background-color: #0095ff;
}

#add:hover {
    background-color: #5b22b6;
}

#status {
    text-align: center;
    font-size: 14px;
    color: #075E54;
}

.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    /* Adds space between the buttons */
}

.button-group button {
    flex: 1;
    /* Make buttons equal width */
}
